// Documentation:
// - Quarto's theme SCSS layering: https://quarto.org/docs/output-formats/html-themes-more.html
// - Main Bootstrap 5 SCSS variables: https://quarto.org/docs/output-formats/html-themes.html#sass-variables
// - Bootstrap 5 SCSS variables source: https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss
// - Bootstrap 5 SCSS variables table: https://rstudio.github.io/bslib/articles/bs5-variables.html

/*-- scss:uses --*/
// import fonts
// sources:
// - https://gwfh.mranftl.com/fonts/alegreya-sans?subsets=latin,latin-ext
// -
// - https://gwfh.mranftl.com/fonts/big-shoulders-display?subsets=latin,latin-ext
// - https://gwfh.mranftl.com/fonts/fira-code?subsets=latin,latin-ext
// -
@use "fonts/alegreya-sans.css";
@use "fonts/alegreya-sans-sc.css";
@use "fonts/big-shoulders-display.css";
@use "fonts/fira-code.css";
// @use "https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap";
// @use "https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap";
// @use "https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap";

/*-- scss:functions --*/


/*-- scss:defaults --*/
// fonts
$font-stack-emoji: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-stack-base: join(("Alegreya Sans", sans-serif), $font-stack-emoji);
$font-stack-headings: join(("Big Shoulders Display", sans-serif), $font-stack-emoji);
$font-stack-display: join(("Alegreya Sans SC", cursive), $font-stack-emoji);
$font-stack-mono: join(("Fira Code", monospace), $font-stack-emoji);

$font-family-base: $font-stack-base;
$font-family-serif: $font-stack-base;
$font-family-sans-serif: $font-stack-display;
$display-font-family: $font-stack-display; // NOTE: this font family doesn't seem to be used in the Quarto theme
$headings-font-family: $font-stack-headings;
$font-family-monospace: $font-stack-mono;
$font-family-code: $font-stack-mono;
$font-size-root: 1.2rem;

// colors
$body-bg: #f2f2f2;
$link-color: #068789;

// other
$link-decoration: none;
$paragraph-margin-bottom: 1rem;

/* -- scss:mixins --*/


/*-- scss:rules --*/
main {
  // hide keywords, cf. https://github.com/quarto-dev/quarto-cli/discussions/10205#discussioncomment-9941277
  header {
    div.keywords {
      display: none !important;
    }
  }
  
  // custom class for small font size
  .custom-font-small {
    font-size: $font-size-base * .875;
  }

  // fix wrong font families
  // ... certain document content (lists, bib, ...)
  font-family: $font-stack-base;

  &#quarto-document-content {
    // make body text fully justified
    // NOTE: setting BS var `body-text-align` is too broad
    text-align: justify;

    // enable hyphenation
    hyphens: auto;
  }

  // make heading text left-aligned
  h1, h2, h3, h4, h5, h6 {
    text-align: start;
  }

  // tweak figure captions
  figcaption {
    color: var(--bs-body-color) !important;
    text-align: center;
    margin-top: 30px; // TODO: report issue (no spacing when fig-cap position is top) upstream
  }

  // tweak link hover styling
  a {
    text-decoration: none;

    &:hover {
      color: #f2f2f2;
      background-color: #068789;
      text-decoration: none;
    }

    &.anchorjs-link,
    &.footnote-back,
    &.footnote-ref,
    &.quarto-title-author-orcid {
      &:hover {
        color: #068789;
        background-color: inherit;
      }
    }

    code:hover {
      color: #f2f2f2;
      background-color: #068789;
    }
  }
  // invert ext link icon on hover
  a.external:hover::after {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(242, 242, 242)" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/><path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/></svg>');
  }
}

// ... Git repo actions
div.toc-actions p {
  font-family: var(--bs-body-font-family);
}

// tweak search form field background
div#quarto-search form {
  background-color: #fff;
}

// tweak page TOC title
.sidebar nav[role="doc-toc"] > h2#toc-title {
  font-weight: bold;
}

// responsive rules
@media (max-width: 767.98px) {
  main {
    // disable full justification and hyphenation on small screens (better readability)
    &#quarto-document-content {
      text-align: start;
      hyphens: manual;
    }
  }
}

@media(max-width: 991.98px) {
  // tweak padding on small screens
  body.nav-sidebar #title-block-header {
    margin-block-end: 1rem;
  }

  // tweak search button padding to factor in hypothes.is sidebar
  .quarto-secondary-nav button.quarto-search-button {
    padding-right: 25px;
  }
}
